*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    height: 100vh;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    box-shadow: 2px 2px 15px grey;
    border-radius: 20px;
    height: 450px;
}
.container-1{
    width: 50%;
    background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    padding: 30px;
    border-radius: 20px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.text-gray{
    font-size: 24px;
    font-weight: 600;
    color: #cacaca;
}
.circle{
    height: 200px;
    width: 200px;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    padding: 0 30px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.circle h2{
    font-size: 60px;
    color: #fff;
}
.circle p{
    font-size: 16px;
    font-weight: 600;
    color: grey;
}
.container-1 h3{
    font-size: 30px;
    color: #fff;  
}
.container-1 p{
    width: 75%;
    font-size: 16px;
    color: #cacaca;
    line-height: 30px;
}
.container-2{
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container-2 h4{
    font-size: 24px;
    font-weight: normal;
    line-height: 1px;
    color: hsl(224, 30%, 27%);
}
.rectangle{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px;
}

.title{
    display: flex;
    align-items: center;
}
.title img{
    margin-right: 8px;
}
.one{
    background-color: hsla(0, 81%, 85%, 0.452);
}
.one p{
    color: hsl(0, 100%, 67%);
}
.two{
    background-color: hsla(44, 100%, 72%, 0.315);
}
.two p{
    color: hsl(39, 100%, 56%);
} 
.three{
    background-color: hsla(241, 100%, 89%, 0.466);
}
.three p{
    color: hsl(166, 100%, 37%);
}
.four{
    background-color:hsl(221, 100%, 96%);
}
.four p{
    color: hsl(234, 85%, 45%);
}
.result p{
    color: gray;
}
.text-blue{
    font-weight: bold;
    color: #555555;
}
.container-2 button{
    padding: 15px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 19px;
    background-color:  hsl(224, 30%, 27%);
}

@media screen and (max-width:700px){
    body{
       align-items: flex-start;
       background-color: var(--white);
    }
    .card{
        box-shadow: none;
    }

    .container-1{
        flex-direction: column;
        width: 100%;
        border-radius: 0 0 1rem 1rem;
    }
    .container-1 info{
        width: 270px;
    }
    .container-2{
        width: 100%;
    }
    
}
